In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1 = Series([2,np.nan,4,np.nan,6,np.nan],
             index=['Q','R','S','T','A','A'])
ser1

Q    2.0
R    NaN
S    4.0
T    NaN
A    6.0
A    NaN
dtype: float64

In [3]:
ser2 = Series(np.arange(len(ser1)),
              dtype=np.float64,
              index=['Q','R','S','T','U','V'])
ser2

Q    0.0
R    1.0
S    2.0
T    3.0
U    4.0
V    5.0
dtype: float64

In [18]:
Series(np.where(pd.isnull(ser1),ser2,ser1),index=ser1.index)

0    2.0
1    1.0
2    4.0
3    3.0
4    6.0
5    5.0
dtype: float64

In [4]:
print(pd.isnull(ser1))
print(np.where(pd.isnull(ser1), ser2, ser1))
#Series(np.where(pd.isnull(ser1),ser2,ser1),index=ser1.index)

Q    False
R     True
S    False
T     True
A    False
A     True
dtype: bool
[2. 1. 4. 3. 6. 5.]

In [20]:
ser1.combine_first(ser2)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [9]:
nan = np.nan
dframe_odds = DataFrame({'X':[1.,nan,3.,nan],
                        'Y':[nan,5.,nan,7.],
                        'Z':[nan,9.,nan,11.]})

In [12]:
dframe_evens = DataFrame({'X':[2.,4.,nan,6.,8.],
                         'Y':[10.,nan,12.,14.,16.]})

In [13]:
dframe_evens

     X     Y
0  2.0  10.0
1  4.0   NaN
2  NaN  12.0
3  6.0  14.0
4  8.0  16.0

In [14]:
dframe_odds

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0

In [15]:
dframe_odds.combine_first(dframe_evens)

     X     Y     Z
0  1.0  10.0   NaN
1  4.0   5.0   9.0
2  3.0  12.0   NaN
3  6.0   7.0  11.0
4  8.0  16.0   NaN

In [16]:
dframe_evens.combine_first(dframe_odds)

     X     Y     Z
0  2.0  10.0   NaN
1  4.0   5.0   9.0
2  3.0  12.0   NaN
3  6.0  14.0  11.0
4  8.0  16.0   NaN