In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

/Users/kolobj/anaconda/envs/cmu3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/kolobj/anaconda/envs/cmu3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [21]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'], dtype='int32')
print(ser1, ser1.dtype)

A    1
B    2
C    3
D    4
dtype: int32 int32

In [28]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [15]:
ser2.dtype

dtype('float64')

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [11]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ranger = range(15)

In [13]:
ranger

range(0, 15)

In [14]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [29]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  2.264367 -0.201017 -0.934010  1.265018  1.670051
B  1.871773 -0.048783 -0.592258  2.020963  1.312669
D -0.535894  1.360402  0.549102 -0.122476  0.549154
E -0.191506 -1.717748  0.443559 -0.823413  1.908932
F  1.549954  1.595530  1.427128 -0.243460 -1.837436

In [16]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.096501  0.361312  0.419080  0.583098 -0.851470
B  0.212760 -2.787913 -0.101889 -0.469943  0.075107
C       NaN       NaN       NaN       NaN       NaN
D  0.442735 -0.121766 -1.099969 -0.721740 -0.971635
E  0.436235 -1.209586  1.589384  1.723443  1.779326
F  0.514531 -0.446853  0.956181 -1.333042  0.287431

In [22]:
new_columns = ['col1','col2','col3','col4','col5','col6']
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [21]:
dframe2.reindex(columns=new_columns)
dframe2

       col1      col2      col3      col4      col5
A -0.096501  0.361312  0.419080  0.583098 -0.851470
B  0.212760 -2.787913 -0.101889 -0.469943  0.075107
C       NaN       NaN       NaN       NaN       NaN
D  0.442735 -0.121766 -1.099969 -0.721740 -0.971635
E  0.436235 -1.209586  1.589384  1.723443  1.779326
F  0.514531 -0.446853  0.956181 -1.333042  0.287431

In [23]:
dframe2

       col1      col2      col3      col4      col5
A -0.096501  0.361312  0.419080  0.583098 -0.851470
B  0.212760 -2.787913 -0.101889 -0.469943  0.075107
C       NaN       NaN       NaN       NaN       NaN
D  0.442735 -0.121766 -1.099969 -0.721740 -0.971635
E  0.436235 -1.209586  1.589384  1.723443  1.779326
F  0.514531 -0.446853  0.956181 -1.333042  0.287431

In [24]:
dframe

       col1      col2      col3      col4      col5
A -0.096501  0.361312  0.419080  0.583098 -0.851470
B  0.212760 -2.787913 -0.101889 -0.469943  0.075107
D  0.442735 -0.121766 -1.099969 -0.721740 -0.971635
E  0.436235 -1.209586  1.589384  1.723443  1.779326
F  0.514531 -0.446853  0.956181 -1.333042  0.287431

In [25]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.096501  0.361312  0.419080  0.583098 -0.851470   NaN
B  0.212760 -2.787913 -0.101889 -0.469943  0.075107   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.442735 -0.121766 -1.099969 -0.721740 -0.971635   NaN
E  0.436235 -1.209586  1.589384  1.723443  1.779326   NaN
F  0.514531 -0.446853  0.956181 -1.333042  0.287431   NaN