In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/Users/kolobj/anaconda/envs/cmu3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/kolobj/anaconda/envs/cmu3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
obj = Series([3,6,8,12])
print(obj)

0     3
1     6
2     8
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  8, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [13]:
x = { 'ussr': 10000000, 'usa': 4000000, 'china': 100000 }
x['usa']
x > 400000

TypeError: '>' not supported between instances of 'dict' and 'int'

In [11]:
print(ww2_cas > 4000000)

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [9]:
# check which countries had casulties greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [14]:
'USSR' in ww2_cas

True

In [15]:
'UK' is ww2_cas

False

In [16]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [17]:
ww2_series = Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [20]:
x = Series([0, 1, 2, 3])
print(x)

0    0
1    1
2    2
3    3
dtype: int64

In [21]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [22]:
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [23]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [19]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [28]:
obj2[pd.notnull(obj2)]

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina         99.0
dtype: float64

In [29]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [30]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina         99.0
dtype: float64

In [31]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [32]:
obj2.name = 'World War 2 Casualties'
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina         99.0
Name: World War 2 Casualties, dtype: float64

In [33]:
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina         99.0
Name: World War 2 Casualties, dtype: float64